<div id="minesweeper" [style.width]="width + 'px'">
  <div class="modes">
    <div class="button " (click)="resetGame(Modes.Beginner)" [class.act]="mode == Modes.Beginner">Beginner</div>
    <div class="button " (click)="resetGame(Modes.Intermediate)" [class.act]="mode == Modes.Intermediate">Intermediate</div>
    <div class="button " (click)="resetGame(Modes.Expert)" [class.act]="mode == Modes.Expert">Expert</div>
    <div class="button " (click)="resetGame(Modes.Custom)" [class.act]="mode == Modes.Custom">Custom</div>
  </div>
  <div class="custom-inputs" *ngIf="mode == Modes.Custom">
    Zeilen:
    <input class="cfgCustom" type="text" name="axis_x" [(ngModel)]="customConfig.Rows"> Spalten:
    <input class="cfgCustom" type="text" name="axis_y" [(ngModel)]="customConfig.Cols"> Minen:
    <input class="cfgCustom" type="text" name="mines_num" [(ngModel)]="customConfig.Mines">
  </div>
  <div class="stats">
    <span class="digits minesCount">{{minesweeperService?.remainingMines}}</span>
    <div class="actions">
        <button class="resetGame"(click)="restoreState();" [disabled]="minesweeperService?.gameState != GameStates.Loose" [innerHTML]="back"></button>
        <button class="resetGame" [innerHTML]="icons[minesweeperService?.gameState]" (click)="resetGame();"></button>
    </div>
     
    <span class="digits timeCount">{{minesweeperService?.timePassed}}</span>
  </div>
  <div class="content" [style.width]="width + 'px'">
    <table class="area" [ngClass]="minesweeperService?.gameState == GameStates.Runnig ? 'running' : ''">
      <tr *ngFor="let row of minesweeperService.mineField; let i = index" class="row">
        <td class="cell" *ngFor="let cell of row; let j = index" (mouseup)="cellClick($event, i, j)" [ngClass]="[!cell.isClosed ? 'open c_' + cell.neighbourMines : 'closed', cell.flagState == FlagStates.Flag ? 'mineSuspect':'', cell.isMine && minesweeperService?.gameState > GameStates.Runnig ? 'mine' : 'noMine']">
          <span>
            {{cell.neighbourMines > 0 && !cell.isClosed ? cell.neighbourMines : ''}}{{cell.isClosed && cell.flagState == FlagStates.Unsure ? '?' : ''}}
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>